*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-wrap{
   width: 100%;
   height: auto;
   margin-bottom: 10px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
